swagger: "2.0"
info:
    title: "Messaging API"
    description: "Manage Messages"
    version: "1.0.0"
host: "messaging.api"
basePath: "/"
schemes:
    - "https"
    - "http"

securityDefinitions:
    api_key:
        type: "apiKey"
        name: "api_key"
        in: "header"

paths:
    /message:
        post:
            summary: "Add a new Message to the list"
            description: ""
            operationId: "createMessage"
            consumes:
                - "application/json"
            produces:
                - "application/json"
            parameters:
                -
                    name: "body"
                    in: "body"
                    required: true
                    schema:
                        $ref: "#/definitions/CreateMessageRequest"
            responses:
                200:
                    description: "successful operation"
                    schema:
                        $ref: "#/definitions/CreateMessageResponse"
                400:
                    description: "invalid request"
                    schema:
                        $ref: "#/definitions/GenericError"
                500:
                    description: "unexpected error"
                    schema:
                        $ref: "#/definitions/GenericError"

        get:
            summary: "List Messages"
            description: ""
            operationId: "listMessages"
            consumes:
                - "application/json"
            produces:
                - "application/json"
            responses:
                201:
                    description: "created"
                    schema:
                        $ref: "#/definitions/MessageList"
                500:
                    description: "unexpected error"
                    schema:
                        $ref: "#/definitions/GenericError"

    /message/{id}:
        get:
            summary: "Get Message by ID"
            description: ""
            operationId: "getMessage"
            parameters:
                -
                    in: path
                    name: id
                    type: integer
                    required: true
                    description: Numeric ID of the TODO
            consumes:
                - "application/json"
            produces:
                - "application/json"
            responses:
                200:
                    description: "successful operation"
                    schema:
                        $ref: "#/definitions/Message"
                404:
                    description: "not found"
                    schema:
                        $ref: "#/definitions/GenericError"
                500:
                    description: "unexpected error"
                    schema:
                        $ref: "#/definitions/GenericError"

definitions:
    Message:
        type: "object"
        properties:
            id:
                type: "string"
            text:
                type: "string"
        required:
            - id
            - text

    MessageList:
        type: "object"
        properties:
            todos:
                type: "array"
                items:
                    $ref: '#/definitions/Message'

    CreateMessageRequest:
        type: "object"
        properties:
            text:
                type: "string"
        required:
            - text

    CreateMessageResponse:
        type: "object"
        properties:
            id:
                type: "string"
        required:
            - id

    GenericError:
        type: "object"
        properties:
            type:
                type: "string"
            title:
                type: "string"
            status:
                type: "integer"
            detail:
                type: "string"
            instance:
                type: "string"
        required:
            - type
        example:
            type: "about:blank"
            title: "Not Found"
            status: 404
